
body {
   background-color: lightgray
}

header{
   margin-top: 5%;
}




.nameBox {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 50px;
   margin-left: 5%;
   color: darkorchid;
}